<form method="post" action="{{ path('app_lieu_delete', {'id': lieu.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce lieu?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
