{% extends 'base.html.twig' %}

{% block title %}Edit Lieu{% endblock %}

{% block body %}
    <div class="container-fluid ">
        <h1>Modifier Lieu</h1>

        {{ include('lieu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {{ include('lieu/_delete_form.html.twig') }}
    </div>
{% endblock %}
