{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center">
            <h1>Create new Lieu</h1>

            {{ include('lieu/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
