{% extends 'base.html.twig' %}

{% block title %}Nouveau Lieu{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="">
            <h1>Créer un nouveau lieu</h1>

            {{ include('lieu/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
