{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

            <h1>Create new Participant</h1>
                        {{ include('participant/_form.html.twig') }}
        <div class="col-4 offset-4">
                        <a href="{{ path('app_participant_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
</div>

{% endblock %}
