h3{
    text-align: right;
    padding-right: 20px;
}
html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}
.cadre-table-scroll {
    display: inline-block;
    height: 20em;
    overflow-y: scroll;
}
.table-scroll thead th {
    position: sticky;
    border: solid 1px;
    border-top: 1px solid;
    top: 0;
    background: #a4dbef;

}
.table-scroll {
    border-collapse: separate;
    border-spacing: 0px;
    empty-cells: hide;
    text-align: left;
    background-color: #EFEFEF;
}