{% extends 'base.html.twig' %}

{% block title %}Nouvelle Ville{% endblock %}

{% block body %}
    <div class="container-fluid">

        <h1>Créer une ville</h1>

        {{ include('ville/_form.html.twig') }}



    </div>
{% endblock %}
