{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
<div class="container-fluid text-center w-25">
  <h1>Oups </h1>

  <div>Cette page n'a pas encoré été réalisée.</div>
  <img src="{{ asset('img/panneau-chantier-travaux.jpg') }}" class="img-fluid" alt="Photo de profil">
  <a href=javascript:history.go(-1)><button class="btn btn-primary">Retour </button></a>
</div>
{% endblock %}